.box {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: 1px solid #111111;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.name {
  font-size: 22px;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}